  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
  }

  body{
      font-family: "Space Grotesk";
      background-color: black;
      color: white; }

.footer{
    background-color: black;
    padding: 60px 80px;
}

.footer-top{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 30px;
}

.footer-logo img{
    height: 140px;
    margin-bottom: 15px;
    margin-left: 10px;
    width: auto;
}

.footer-logo p{
    color: #ccc;
    font-size: 14px;
    line-height: 1.5;

}


.footer-column h3 {
  color: #d19a5c; 
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-column a,
.footer-column p {
  display: block;
  color: #ddd;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 8px;
}

.footer-column a:hover {
  color: #d19a5c; 
}

.footer hr {
  border: 0;
  border-top: 1px solid rgba(209, 154, 92, 0.3); 
  margin: 30px 0;
}

.newsletter {
  text-align: center;
  margin-bottom: 40px;
}

.newsletter h3 {
  margin-bottom: 5px;
}

.newsletter p {
  color: #ccc;
  font-size: 14px;
  margin-bottom: 15px;
}

.newsletter form {
  display: inline-flex;
  background-color: #111;
  border-radius: 6px;
  overflow: hidden;
}

.newsletter input {
  border: none;
  padding: 10px 15px;
  background: transparent;
  color: #fff;
  width: 250px;
}

.newsletter button {
  background-color: #d19a5c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.newsletter button:hover {
  background-color: #b67e44;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #111;
  padding-top: 15px;
  font-size: 13px;
  color: #aaa;
}

.footer-bottom .links a {
  color: #aaa;
  margin-left: 15px;
  text-decoration: none;
}

.footer-bottom .links a:hover {
  color: #d19a5c;
}

a,p{
  color: white;
}