*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:"Space Grotesk";   
}

.nav{
    background-color: black;
    display: flex;
    height: 120px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 2px solid #ff5d18;
}

.logo {
  width: 172px;
  height: auto; /* deixa a proporção correta */
  margin-left: 75px;
  margin-top: 0; /* remove espaçamento invisível */
  object-fit: contain;
  display: block;
}


.nav-center{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-center a{
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding-left: 50px;
}

.nav-center a:hover{
    transition: 0.3s;
    color: #ff5d18;
    transform: scale(1.1);
}

.nav-end{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    margin-left: 100px;
    padding: 40px;

}

.nav-end a{
    text-decoration: none;
    color: white;
}

.button{
    background-color: #ff5d18;
    border-radius: 7px;
    border: none;
    padding: 10px 20px;


}




