body {
  background-color: #0f0f0f;
  font-family: 'Inter', sans-serif;
  color: #fff;
  padding: 40px 0;
  display: block;
}
nav{
font-family: 'Inter', sans-serif;
}

.container {
  width: 600px;
  background: #121212;
  font-family: 'Inter', sans-serif;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 0 0 15px rgba(255, 102, 0, 0.1);
  margin: 0 auto; /* Isso centraliza só o formulário, não o site inteiro */
}


.form-section {
  border: 1px solid #ff4d00;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 20px;
  background-color: #1a1a1a;
}

.form-section h2 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #fff;
}

.form-section p {
  font-size: 13px;
  color: #aaa;
  margin-bottom: 15px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: 13px;
  margin-bottom: 6px;
}

.input-group input,
.input-group textarea {
  background-color: #262626;
  border: none;
  border-radius: 6px;
  padding: 10px;
  color: #fff;
  font-size: 14px;
}

.input-group input::placeholder,
.input-group textarea::placeholder {
  color: #777;
}

textarea {
  resize: none;
  height: 80px;
}

.note {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

button {
  border: none;
  border-radius: 8px;
  padding: 10px 18px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.cancel {
  background-color: #2c2c2c;
  color: #fff;
}

.submit {
  background-color: #ff4d00;
  color: #fff;
}

.cancel:hover {
  background-color: #3a3a3a;
}

.submit:hover {
  background-color: #ff6520;
}

